<div >
<style type="text/css">
	.login{margin: 0 auto;width: 400px;border: 1px #ccc solid;background: #f1f1f1;padding: 35px 0;}
	 input{width: 80%;height: 30px;}
	.but{padding: 5px 10px;background: #6879c1;color: #FFF;border:none;}
	.login div{margin: 10px;text-align: center;}
</style>
<a href="#/page_b">{{name}}</a>
	<div class="login">
		<form>
			<div><span>欢迎登录</span></div>
			<div><label>账号:</label><input type="text" name="user" /></div>
			<div><label>密码:</label><input type="password" name="pwd" /></div>
			<div><button class="but"  ng-click="onclicks()">登录</button></div>
		</form>
	</div>
</div>